:root {
  --color-primary: #ae0000;
  --color-secondary: #efefef;
  --color-black: #000000;
  --color-light: #949494;

  --txt-xl: 128px;
  --txt-lg: 40px;
  --txt-base: 32px;
  --txt-sm: 24px;
  --txt-xs: 20px;
}

html,
body {
  font-family: 'Castoro', serif;
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  color: var(--color-light);
  text-decoration: underline;
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

img:hover {
  opacity: 0.9;
}

.mx-auto {
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.text-right {
  text-align: right;
}


.header {
  padding-top: 160px;
}

.hero-txt {
  font-size: var(--txt-xl);
  letter-spacing: 0.12em;
}

.photo-img {
  width: 636px;
  height: 848px;
}


.intro {
  background: var(--color-secondary);
}

.intro-txt {
  padding-top: 48px;
  padding-bottom: 48px;

  font-size: var(--txt-base);
}

/* end of intro */

.main {
  padding-top: 80px;
  padding-bottom: 120px;
}

.cv {
  width: 49%;

}

.cv-title {
  font-size: var(--txt-lg);
  border-bottom: 3px solid var(--color-primary);

  color: var(--color-primary);
}

.cv-txt {
  padding-top: 16px;
  padding-bottom: 32px;

  font-size: var(--txt-sm);
}

.cv-txt > li {
  padding-bottom: 8px;
}

.cv-txt span {
  font-size: var(--txt-xs);
  font-style: italic;
  color: var(--color-light);
}

/* end of main */

